{% extends 'process_base.html' %}

{% block nav %}
<nav class="probootstrap-nav">
    <ul>
        <li class="probootstrap-animate active" data-animate-effect="fadeInLeft">
            <a href="index.html">Upload history</a>
        </li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft">
            <a href="{% url 'upload_image' %}?way=local">Upload local image</a>
        </li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft">
            <a href="{% url 'upload_image' %}?way=online">Upload online image</a>
        </li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft">
            <a href="{% url 'logout' %}">Log out</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block cards %}
<div class="card-columns">
    {% for post in object_list %}
    <div class="card">
        <p>{{ post.created }}</p>
        <a href="{% url 'detail' pk=post.pk %}">
            <img class="card-img-top probootstrap-animate" src="{{ post.cover.url }}" alt="{{ post.title }}"
                data-animate-effect="fadeIn">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
